<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/api/public/css/styles_products.css">
    <title>Detalle del Producto</title>
</head>
<body>
    <h1>Detalle del Producto</h1>
    <ul>
        <li>
            <p>Nombre: {{products.title}}</p>
            <p>Descripción: {{products.description}}</p>
            <p>Codigo: {{products.code}}</p>
            <p>Precio: {{products.price}}</p>
            <p>Status: {{products.status}}</p>
            <p>Categoría: {{products.category}}</p>
        </li>
    </ul>
</body>
</html>
